@import "bootstrap/scss/bootstrap";
$primary: #3498db;

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: $primary;
}

 .custom-img {
            width: 626px; /* Ancho especificado */
            height: 391px; /* Altura especificada */
            border-radius: 16px; /* Bordes redondeados */
            
        }
        .image-container {
            padding: 10px; 
        }